<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Gardens</h1>
  <div class="d-flex">
    <% @gardens.each do |garden| %>
      <div class="card">
        <%= image_tag garden.banner_url, alt: "Garden", width: "100%" %>
        <div class="px-1">
          <h4><%= garden.name %></h4>
          <p><%= link_to 'Show', garden %>
          <%= link_to 'Edit', edit_garden_path(garden) %>
          <%= link_to 'Destroy', garden, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    <% end %>
  </div>
  <br/>
  <%= link_to 'New Garden', new_garden_path %>
</div>
